*{
    font-size: small;
    text-align: center;
}
.app-product {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 400px;
    height: 550px;
    gap: 5px;
}
.app-product:hover{
    background-color: #fff;
    transform: scale(1.1);
    border-radius: 5%;
    box-shadow: var(--shadow);
    z-index: 15;
}
.product-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}
.product-id{
    font-size: small;
}
.sign{
    font-size: medium;
    color: black;
}
.product-image {
    background-blend-mode: screen;
    height: 100%;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5%;
    box-shadow: var(--shadow);
}

.product-price {
    color: green;
    font-size: 1.5em;
}
.app-product:hover .preview-button{
    opacity: 1;
}
.preview-button{
    opacity: 0;
    position: relative;
    top: -250px;
    color: #fff;
    background-color: var(--default-color-2);
    padding: 5px;
    border-radius: 3px;
    border: 0;
    box-shadow: var(--shadow);
}
.preview-button:hover{
    color: #fff;
    background-color: var(--default-color-3);
    cursor: pointer;
}
@media (max-width: 599px) {
    .app-product{
        padding: 5px;
        height: 240px;
        width: 160px;
        margin: 0;
        gap: 2px;
    }
    *{
        font-size: small;
        text-align: center;
    }
    .product-image{
        height: 100px;
        width: 100px;
    }
    .product-name{
        padding-bottom: 2px;
    }
    .preview-button{
        top: -100px;
    }
}