*{
    color: #fff;
}
.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.invisible {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
}

.preview-content{
    display: flex;
    justify-content: start;
    align-items: center;
    opacity: 1;
    flex-direction: column;
    background-color: rgba(65, 65, 65, 0.97);
    z-index: 11;
    border-radius: 5%;
    width: 650px;
    height: 80%;
    transition: opacity 0.1s ease-in-out;
    box-shadow: var(--shadow);
    overflow-y: auto;
    z-index: 99;
}
.preview-content img{
    max-width: 100%;
    height: auto;

}
.preview-content div{
    text-align: center;
    margin-right: 10px;
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

@media (max-width: 599px) {
    .preview-content{
        margin: 0 10px;
        width: 100%;
    }
}