header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    background-color: var(--default-color-1);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 150px;
}