main {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    width: 100%;
}

a {
    text-decoration: none;
}
span{
    opacity: 0.7;
}

.steps {
    margin: 25px 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: var(--btn-color-1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.step:hover{
    background-color: var(--default-color-3);
}

.arrow {
    font-size: x-large;
}

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    text-align: center;
}
button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-decoration: underline;
}
button:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--btn-color-1);
}
.form{
    margin: 25px 0;
}
.form div{
    opacity: 0;
    animation: fadein 0.5s linear forwards;
}
nav a{
    color: #fff;
    background-color: var(--btn-color-1);
    padding: 5px;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
    margin: 0 5px;
}
nav a:hover{
    cursor: pointer;
    background-color: var(--default-color-3);
}
@keyframes fadein {
    0%{
        opacity: 0;
        visibility: hidden;
        width: 0;
    }100%{
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
}