.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.transition{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}
.preview-container{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 25%;
}
.catalog{
    min-width: max-content;
    background-color: var(--btn-color-1);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--shadow);
}
a:hover{
    background-color: var(--default-color-3);
}

@media (max-width: 599px) {
    .preview-container{
        margin: 0;
    }
}
