<div class="container">
  <h2>Faça login na sua conta</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="email">E-mail:</label>
    <input type="email" id="email" [(ngModel)]="getAuth().email" name="email" required>
    <label for="password">Senha:</label>
    <div class="passwordContainer">
      <input type="password" id="password" [(ngModel)]="getAuth().password" name="password" required minlength="6">
      <button type="button" (click)="toggleVisibility('password')">
        <img [src]="hidePassword?'./assets/show.png':'./assets/hide.png' " alt="" width="13px">
      </button>
    </div>    
    <button type="submit">Entrar</button>
  </form>
</div>
<app-message-dialog></app-message-dialog>