nav{
    height: 50px;
    background-color: var(--default-color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    color: var(--btn-color-1);
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.options{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
button{
    padding: 5px;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
    background-color: var(--btn-color-1);
    color: #fff;
    width: max-content
}
button:hover{
    background-color: var(--default-color-3);
    cursor: pointer;
}
.store-info{
    padding: 15px;
}
.selectProducts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}