<app-header></app-header>
<nav>
    <button (click)="logout()">logout</button>
</nav>
<section class="store-info" *ngIf="profile">
    <p>Endereço de Calogo: <span><a href="/catalog/{{profile.fullname}}">http://localhost:3000/{{profile.fullname.toLocaleLowerCase().replace(' ','_')}}</a></span></p>
    <p>Loja: {{profile.fullname}}</p>
    <p>Telefone: {{profile.phone}}</p>
    <p>Endereço: {{profile.address}}</p>
    <p>Produtos Cadastrados: </p>
    <select [(ngModel)]="selectedProductId" (change)="onProductSelected()">
        <option value="" selected disabled>Produtos</option>
        <option *ngFor="let product of profile.products" [value]="product.product_id">
            {{product.name.substring(0,15)+'...'}}
        </option>
    </select>
</section>
<section class="dialog">
    <app-message-dialog></app-message-dialog>
</section>
<section class="product" *ngIf="selectedProduct">
    <app-product [product]="selectedProduct"></app-product>
    <div class="options">
        <button>Editar</button>
        <button (click)="deleteProduct(selectedProduct.product_id)">Deletar</button>
    </div>    
</section>
<app-preview></app-preview>
