.app-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--default-color-1);
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    padding: 0 10px;
}
.dropdown{
    color: var(--default-color-1);
    background-color: var(--default-color-1);
    width: auto;
}
.dropdown-button{
    border: none;
    width: auto;
}
img {
    width: 20px;
}