
.btn{
    background-color: var(--default-color-2);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    color: #fff;
    margin: 5px;
    padding: 5px;
}
.btn:hover{
    background-color: var(--default-color-1);
    cursor: pointer;
}

.app-nav-bar {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: var(--default-color-1);
    z-index: 10;
}

.logo {
    border: none;
    color: #fff;
    background-color: var(--default-color-2);
    padding: 5px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.logo:hover {
    background-color: var(--default-color-3);
    cursor: pointer;
}
.app-menu {
    display: flex;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 35px;
    background-color: rgba(65, 65, 65, 0.756);
    z-index: 11;
    border-radius: 5%;
    padding: 10px;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.menu {
    padding: 5px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
}

.menu:hover {
    cursor: pointer;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.invisible {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
}

.gg-menu {
    color: var(--default-color-2);
}

.menu:hover .gg-menu {
    color: var(--default-color-3);
}

@media (max-width: 599px) {}