<div class="register" id="register">
  <h3>Adicione produtos ao seu catálogo</h3>
  
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <!-- Nome -->
    <label for="name">Nome:</label>
    <input #name="ngModel" type="text" id="name" [(ngModel)]="product.name" name="name" required>
    <span *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
      Nome é obrigatório.
    </span>

    <!-- Categoria -->
    <label for="category">Categoria:</label>
    <select id="category" [(ngModel)]="product.category" name="category" required>
      <option value="indefinido" disabled selected>Indefinido</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>

    <!-- Descrição -->
    <label for="description">Descrição:</label>
    <textarea #description="ngModel" id="description" [(ngModel)]="product.description" name="description"
      required></textarea>
    <span *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
      Descrição é obrigatória.
    </span>

    <!-- Imagem -->
    <label for="image">Imagem:</label>
    <input type="file" id="image" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg">

    <!-- Botão de Submissão -->
    <div class="btns">
      <button class="submit" type="submit" [disabled]="registerForm.invalid">Salvar</button>
      <button (click)="hidden()">Cancelar</button>
    </div>
  </form>
</div>

<app-message-dialog></app-message-dialog>