:root {
    --default-color-1: #223;
    --btn-color-1: #555;
    --default-color-3: #111;
    --default-color-4: #ccc;
    --default-color-5: #700;
    --shadow: 1px 1px 5px var(--btn-color-1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
