:root {
    --default-color-1: #393939;
    --background: radial-gradient(circle, #000, rgb(57, 57, 83), #333333);
    --btn-color-2: #fff;
    --btn-color-1: var(--btn-color-2);
    --default-color-3: #111;
    --default-color-4: #ccc;
    --default-color-5: #700;
    --shadow: 2px 2px 3px #555;
    --blue: #112;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

html,
body {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    background-color: #000;
}

body {
    margin: 0;
    background-image: url(./assets/bg2.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

@media (max-width: 599px) {
    * {
        font-size: small;
        text-align: center;
    }
}