:root {
    --default-color-1: #223;
    --default-color-2: #555;
    --default-color-3: #111;
    --default-color-4: #ccc;
    --shadow: 1px 1px 5px var(--default-color-2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}