<app-header></app-header>
<nav class="nav-bar">
    <input type="button" value="TODOS" (click)="searchByCategory('')">
    <input type="button" *ngFor="let categorie of categories" value="{{ categorie }}" (click)="searchByCategory(categorie.toLocaleLowerCase())">
</nav>
<p class="qtd">Foram encontrados <strong>{{products.length}}</strong> produtos.</p>
<app-preview></app-preview>
<section class="product-container">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
</section>
<app-footer></app-footer>
  